<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <style>
 </style>
  <link th:href='@{/CSS/style.css}' rel='stylesheet'>
  <link th:href='@{/CSS/login.css}' rel='stylesheet'>
 </head>
 <body class="logbgi">
  <div class='dvv'>
   <label  style='color:orange;font-size:3vw; font-family:algerian;'>BOOK INVENTORY MANAGEMENT</label>
  </div>
 <form action='/bookstore/inventory/login/authenticate' method='post'>
  <div align='center'>
    <div class='dvadmin'>
     <h2 style='font-size:2.1vw'>Manager Account Sign In</h2>
     <div class='dvlog'>
       <label class='la' style="font-weight: bold;">Username</label><br>
       <input type='text' name='user' value="admin" class='tblog' placeholder="Enter the Username" required>
     </div>
     <div class='dvlog'>
       <label class='la' style="font-weight: bold;">Password</label><br>
       <input type='password' name='pass' value="admin" class='tblog' placeholder="Enter the Password" required>
     </div>	
     <div class='dvlog'>	
       <button class='btlog'>Sign In</button>
       <div style="text-align:center;margin-top:1vw" >
           <label class='la' th:text="${msg}" style='color:red'></label>
       </div>
     </div>	
    </div>
  </div>
  </form>
 </body>
</html>