<html  xmlns:th="http://www.thymeleaf.org">
<body class='detailbgi'>
  <div th:insert="top"></div>
  <div class='dvv'>
   <label class="lah" style="font-size:2.2vw; font-family: algerian; color:blueviolet">Publisher Details</label>
  </div>
  <table border='1' class='tad' style='width:50%'>
   <tr>
    <td class='tatd hp'>Publisher's ID</td>
    <td class='tatd dp' th:text="${pub.pubid}"></td>
   </tr>
   <tr>
    <td class='tatd hp'>Publisher's Name</td>
    <td class='tatd dp' th:text="${pub.publisher}"></td>
   </tr>
   <tr>
    <td class='tatd hp'>Publisher's Address</td>
    <td class='tatd dp' th:text="${pub.address}"></td>
   </tr>
   <tr>
    <td class='tatd hp'>Publisher's Email ID</td>
    <td class='tatd dp' th:text="${pub.email}"></td>
   </tr>
  </table>
  <div class='dvv'>
   <button class='btr' style='background-color:orange' onclick='history.back()'>Back</button>
  </div>
</body>
</html>